
# Needed by docker-compose
# > Use 'id -u' and 'id -g' to get right values for your own env
UID=
GID=

# Auth token for telegram bot
TG_BOT_TOKEN=

# Auth token for authenticate bot users
# Note: For docker-compose, each '$' must be escaped with another '$'
#       and wrapped in quotes "<token>" like in following example:
#       "this$is$sample$hash" -> "this$$is$$sample$$hash"
#
BOT_AUTH_HASH="<replace_with_your_own_auth_hash"

# How many seconds will pass before user be asked for passphrase again
# 86400 = 1 day
# 1800  = 30 min
SESSION_EXPIRE=1800

# Redis connection params
REDIS_HOST=
REDIS_PORT=6379

# Rabbitmq connection params
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=

# Host's path where logs and runtime data will be stored
RUNTIME_PATH=data/runtime
LOG_LEVEL=error
