
# Needed by docker-compose
# > Use 'id -u' and 'id -g' to get right values for your own env
UID=
GID=

# Host's path where logs and runtime data will be stored
RUNTIME_PATH=data/runtime
LOG_LEVEL=error
